<% courses.forEach((course , i) => { %>
    <!-- edit profile modal course -->
<div class="modal fade" id="updateModal<%= i %>" tabindex="-1" aria-labelledby="updateModalLabel5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/<%= course._id %>/courses/update" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel5">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="<%= course. title%>">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description" value="<%= course. description%>">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" value="<%= course. price%>">
                    </div>
                    <div class="mb-3">
                        <label for="direction" class="form-label">Direction</label>
                        <select class="form-control" id="direction" name="direction" value="<%= course. direction%>">
                            <option value="Работа с родителями">Работа с родителями</option>
                            <option value="Работа с детьми">Работа с детьми</option>
                            <option value="Личный опыт">Личный опыт</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% }); %>
