<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        .h1button{
            margin-top: 90px;
        }
        #quick-connection{
            display: none;
        }
        #balabaqsha-placeholder{
            display: none;
        }
        #footer{
            display: none;
        }
    </style>
    <title>Пользователи</title>
</head>
<body>
<div id="navbar-placeholder"></div>
<div id="quick-connection"></div>
<div id="balabaqsha-placeholder"></div>
<div id="footer"></div>
<h1 class="h1button" data-i18n="panel--link">Админ</h1>
<div class="table-container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th data-i18n="id--link">ID</th>
            <th data-i18n="name--link">Имя</th>
            <th data-i18n="surname--link">Фамилия</th>
            <th data-i18n="lastname--link">Отчество</th>
            <th data-i18n="email--link">Почта</th>
            <th data-i18n="experience--link">Опыт работы</th>
            <th data-i18n="role--link">Роль</th>
            <th data-i18n="actions--link">Действия</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user, i) { %>
            <tr>
                <td><%= user._id %></td>
                <td><%= user.name %></td>
                <td><%= user.surname %></td>
                <td><%= user.lastname %></td>
                <td><%= user.email %></td>
                <td><%= user.experience %></td>
                <td><%= user.role %></td>
                <td>
                    <button type="button" class="btn--link btn btn-primary mr-1" data-bs-toggle="modal" data-bs-target="#updateModal<%= i %>" data-i18n="update--link">Изменить</button>
                    <button type="button" class="btn--link btn btn-danger mr-1" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>" data-i18n="delete--link">Удалить</button>
                </td>
            </tr>

            <%- include('../components/admin/editModal');%>


            <%- include('../components/admin/deleteModal');%>

        <% }); %>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-5 d-flex justify-content-between align-items-center">
            <button type="button" class="btn--link btn btn-success btn-group" data-bs-toggle="modal" data-bs-target="#addModal" data-i18n="add--link">Добавить</button>
            <button type="button" class="btn--link btn btn-primary btn-group" onclick="window.location.href='/admin/courses'" data-i18n="courses--link">Курсы</button>
            <button type="button" class="btn--link btn btn-primary btn-group" onclick="window.location.href='/admin/helps'" data-i18n="helps--link">Заявки</button>
            <form action="/logout" method="get">
                <button type="submit" class="btn--link btn btn-danger btn-group" data-i18n="logout--link">Выйти</button>
            </form>
        </div>
    </div>
</div>
<%- include('../components/admin/addModal');%>
<script type="module" src="/js/imports.js"></script>
<script type="module" src="/js/translation.js"></script>

</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>