<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/quickConnection.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <title>Немере</title>
    <style>
        #balabaqsha-placeholder{
            display: none;
        }
        #footer{
            display: none;
        }
    </style>
</head>
<body>
<div id="navbar-placeholder"></div>
<div id="balabaqsha-placeholder"></div>
<div id="footer"></div>
<section style="background-color: #eee; margin-top: 82px;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <% if(!users.image){ %>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 100px; height: 100px;">
                        <% }else{ %>
                        <img src="/uploaded/<%= users.image %>" alt="avatarimage" class="rounded-circle img-fluid"
                             style="width: 300px; height: 300px;">
                        <% } %>
                        <div class="d-flex justify-content-center mb-2 mt-2 mr-1 mx-1">
                            <button type="button" class="btn--link btn btn-primary mx-1" data-bs-toggle="modal" data-i18n="update--profile--link"
                                    data-bs-target="#updateModal">Изменить профиль
                            </button>
                            <button type="button" class="btn--link btn btn-primary mx-2" data-bs-toggle="modal" data-i18n="update--photo--link"
                                    data-bs-target="#updateModala">Загрузить фото
                            </button>
                            <form action="/logout" method="get">
                                <button type="submit" class="btn--link btn btn-danger" data-i18n="logout--link">Выйти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 btn--link" data-i18n="name--link">Имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0 btn--link"><%= users.name %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3" >
                                <p class="mb-0 btn--link" data-i18n="surname--link">Фамилия</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= users.surname %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 btn--link" data-i18n="lastname--link">Отчество</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= users.lastname %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 btn--link" data-i18n="experience--link">Опыт работы</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= users.experience %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 btn--link" data-i18n="email--link">Почта</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= users.email %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="btn--link mb-0" data-i18n="password--link">Пароль</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" id="hiddenValue"><%= users.password %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4 btn--link" data-i18n="courses--link"><span class="text-primary font-italic me-1" >Курсы</span>
                            </p>
                            <ul class="list-inline ">
                                <% courses.forEach((course, i) => { %>
                                    <div>
                                        <li class="d-inline-block mx-2">
                                            <%= course.title %>
                                        </li>
                                        <li class="d-inline-block">
                                            <% if(course.status === 'В обработке' || course.status ==='Өңдеуде'){ %>
                                                <p class="btn--link" style="color: darkorange" data-i18n="status---link"><%= course.status %></p>
                                            <% }else{ %>
                                                <p class="btn--link" style="color:green" data-i18n="status--link"><%= course.status %></p>
                                            <% } %>
                                        </li>
                                    </div>
                                    <div>
                                        <% if(course.status === 'В обработке' || course.status === 'Өңдеуде') { %>
                                            <li class="d-inline-block">
                                                <form action="/profile/<%= course._id %>/courses/update" method="post">
                                                    <button type="button" class="btn--link btn btn-primary mr-1"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#updateModal<%= i %>" data-i18n="update--link">Изменить
                                                    </button>
                                                </form>
                                            </li>
                                        <% } %>
                                        <li class="d-inline-block">
                                            <form action="/profile/<%= course._id %>/courses/delete" method="POST">
                                                <button type="button" class="btn--link btn btn-primary mr-1"
                                                        data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>" data-i18n="delete--link">
                                                    Удалить
                                                </button>
                                            </form>
                                        </li>
                                    </div>
                                    <%- include('../components/profile/editCourseModal'); %>
                                    <%- include('../components/profile/deleteCourseModal'); %>
                                <% }) %>

                            </ul>
                            <div class="d-flex justify-content-center mb-2 mt-2 mr-1">
                                <button type="button" class="btn--link btn btn-primary mr-1 " data-bs-toggle="modal"
                                        data-bs-target="#updateModall" data-i18n="create--link">Создать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../components/profile/courseModal'); %>
<%- include('../components/profile/profileModal'); %>
<%- include('../components/profile/photoModal'); %>
<div id="quick-connection"></div>
<script type="module" src="/js/imports.js"></script>
<script type="module" src="/js/translation.js"></script>
<script type="text/javascript" src="/js/quickConnection.js"></script>
<script>
    let params = new URLSearchParams(document.location.search)
    let id = params.get("id")
    console.log(id)
</script>
</body>
</html>
