<% users.forEach(function(user, i) { %>
    <!-- Edit modal -->
<div class="modal fade" id="updateModal<%= i %>" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/users/update/<%= user._id %>" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel" data-i18n="update--link">Изменить</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label" data-i18n="name--link">Имя</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="form-label" data-i18n="surname--link">Фамилия</label>
                        <input type="text" class="form-control" id="surname" name="surname" value="<%= user.surname %>">
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label" data-i18n="lastname--link">Отчество</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" value="<%= user.lastname%>">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label" data-i18n="email--link">Почта</label>
                        <input type="text" class="form-control" id="email" name="email" value="<%= user.email %>">
                    </div>
                    <div class="mb-3">
                        <label for="experience" class="form-label" data-i18n="experience--link">Опыт работы</label>
                        <input type="text" class="form-control" id="experience" name="experience" value="<%= user.experience %>">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" data-i18n="password--link">Пароль</label>
                        <input type="text" class="form-control" id="password" name="password" value="<%= user.password %>">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn--link btn btn-secondary" data-bs-dismiss="modal" data-i18n="close--link">Закрыть</button>
                    <button type="submit" class="btn--link btn btn-primary" data-i18n="save--link">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% }); %>
