<header>
    <%- include('../components/header');%>
</header>
<!-- searchForm.ejs -->
<form action="/course/search" method="GET">
    <div>
        <label for="searchQuery">Поиск по названию курса:</label>
        <input type="text" id="searchQuery" name="searchQuery" value="<%= searchQuery || '' %>" placeholder="Введите название курса">
    </div>
    <div>
        <label for="searchQueryFio">Поиск по фио:</label>
        <input type="text" id="searchQueryFio" name="searchQueryFio" value="<%= searchQueryFio || '' %>" placeholder="Введите фио">
    </div>
    <div>
        <label for="directionFilter">Фильтр по направлению:</label>
        <input type="checkbox" id="directionFilter1" name="directionFilter" value="Работа с родителями" <% if (directionFilter && directionFilter.includes('Работа с родителями')) { %> checked <% } %>>
        <label for="directionFilter1">Работа с родителями</label>
        <input type="checkbox" id="directionFilter2" name="directionFilter" value="Работа с детьми" <% if (directionFilter && directionFilter.includes('Работа с детьми')) { %> checked <% } %>>
        <label for="directionFilter2">Работа с детьми</label>
        <input type="checkbox" id="directionFilter3" name="directionFilter" value="Личный опыт" <% if (directionFilter && directionFilter.includes('Личный опыт')) { %> checked <% } %>>
        <label for="directionFilter3">Личный опыт</label>
    </div>
    <div>
        <label for="minPrice">Минимальная цена:</label>
        <input type="number" id="minPrice" name="minPrice" value="<%= minPrice || '0' %>">
    </div>
    <div>
        <label for="maxPrice">Максимальная цена:</label>
        <input type="number" id="maxPrice" name="maxPrice" value="<%= maxPrice || '10000' %>">
    </div>
    <div>
        <label for="sort">Сортировка:</label>
        <select id="sort" name="sort">
            <option value="">-- Выберите --</option>
            <option value="az" <% if (sort === 'az') { %> selected <% } %>>От А до Я</option>
            <option value="za" <% if (sort === 'za') { %> selected <% } %>>От Я до А</option>
            <option value="newest" <% if (sort === 'newest') { %> selected <% } %>>Новые курсы</option>
            <option value="oldest" <% if (sort === 'oldest') { %> selected <% } %>>Старые курсы</option>
        </select>
    </div>
    <div>
        <button type="submit">Поиск</button>
    </div>
</form>

<!-- searchResults.ejs -->
<h1>Результаты поиска</h1>

<ul>
    <% courses.forEach((course) => { %>
    <%if(course.status!=='в обработке'){%>
        <li>
            <p>Фио <%=course.fio%></p>
            <p>Название <%= course.title %></p>
            <p> Цена <%= course.price %></p>
            <p>Направление <%= course.direction %></p>
            <p> Дата создания <%= course.createdAt.toLocaleDateString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></p>
            <form action="/course/read/<%=course._id%>" method="get">
                <button type="submit">Read More</button>
            </form>
            <!-- Дополнительная информация о курсе -->
        </li>
    <%} else{null}%>
    <% }); %>
</ul>