<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробнее</title>
    <script src="https://cdn.jsdelivr.net/npm/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/quickConnection.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/courseInfo.css">
</head>
<body>
<div id="navbar-placeholder"></div>
<div id="quick-connection"></div>
<%courses.forEach((course)=>{%>
<div id="course-info-container">
    <h2 id="courseFullName"><%=course.fio%></h2>
    <h2 id="courseName"><%=course.title%></h2>
    <p id="coursePrice"><span class="price"><%=course.price%> Тенге</span></p>
    <p id="courseDirection"><span class="direction"><%=course.direction%></span></p>
    <p id="courseDate"><span class="date"></span></p>
    <p id="courseDescriptionFull"><span class="description-full"><%=course.description%></span></p>
    <button class="buy-button" data-i18n="buy-button">Buy</button>
</div>
<div id="course-comments-container">
    <h3 class="leave-comment" data-i18n="leave-comment"></h3>
    <form id="comment-form" action="/course/comment/<%= course._id%>" method="POST">
        <div>
            <label for="comment" class="comment" data-i18n="comment">Комментарий:</label>
            <textarea id="comment" name="comment" rows="4" cols="50" required></textarea>
        </div>
        <div>
            <label class="rating" data-i18n="rating">Рейтинг:</label>
            <div class="rating">
                <label for="rating" class="rating-on-to-five" data-i18n="rating-on-to-five"></label>
                <select name="rating" id="rating" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <button class="course-info__submit-btn" data-i18n="course-info__submit-btn" type="submit">Отправить комментарий</button>
    </form>
    <h3 class="course__ratings" data-i18n="course__ratings"></h3>
    <div id="average-rating"></div>
    <ul id="user-ratings"></ul>
    <h3 class="course-commentaries-title"></h3>
</div>
<%})%>
<%comments.forEach((comment, i)=>{%>
<div id="average-rating"></div>
<div class="course__ratings-items">
    <ul id="user-ratings" class="comment-section">
        <label>Комментарий: </label>
        <li class="comment-text"><%=comment.comment%></li>
        <label>Рейтинг: </label>
        <li class="comment-rating"><%=comment.rating%></li>
        <%if(adminlogin){%>
        <form action="/course/comment/<%=comment._id%>/delete" method="post">
            <button type="submit" class="delete-button">Delete</button>
        </form>
        <%}%>
    </ul>
</div>
<%})%>
<div id="footer"></div>
<script type="module" src="/js/imports.js"></script>
<script type="module" src="/js/translation.js"></script>
<script src="/js/quickConnection.js"></script>
<script src="/js/courseInfo.js"></script>
</body>